<br>
<mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>ERROR 404</mat-card-title>
      <mat-card-subtitle>Page not found</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="../../../assets/img/2459468.png" alt="ERROR 404">
    <mat-card-content>
      <p>
        Recomendamos contactarse con el administrador del sistema o llamar al <strong>945933710</strong>.
      </p>
    </mat-card-content>
    <mat-card-actions>
      <a mat-raised-button (click)="goBack()"> <mat-icon>keyboard_backspace</mat-icon> REGRESAR</a>
    </mat-card-actions>
  </mat-card>
