.example-card {
//   max-width: 400px;
// width: 100%
margin: 10px
}

.example-header-image {
  background-image: url('../../../assets/img/avataaars.png');
  background-size: cover;
}

img{
    max-height: 700px
    height : 50%
}